<html> 
<body> 
    <h3>Warranty Claim Prediction Form</h3> 
  
<div> 
  <form action="/result" method="POST"> 
    <label for="Area">Area</label> 
    <select id="Area" name="Area">
      <option value="0">Urban</option>
      <option value="1">Rular</option> 
    </select>
    <br> 
    <label for="City">City</label> 
    <select id="City" name="City"> 
      <option value="0">Banglore</option> 
      <option value="1">Chandigarh</option> 
      <option value="2">Chennai</option> 
      <option value="3">Ranchi</option> 
      <option value="4">Kochi</option> 
      <option value="5">Hyderabad</option> 
      <option value="6">Patna</option> 
      <option value="7">Purnea</option>
      <option value="8">Vododara</option> 
      <option value="9">New Delhi</option> 
      <option value="10">Mumbai</option> 
      <option value="11">Ahmedabad</option> 
      <option value="12">Pune</option> 
      <option value="13">Kolkata</option> 
      <option value="14">Vizag</option> 
      <option value="15">Panaji</option>
      <option value="16">Srinagar</option> 
      <option value="17">Guwhati</option> 
      <option value="18">Jaipur</option> 
      <option value="19">Bhopal</option> 
      <option value="20">Meerut</option> 
      <option value="21">Agartala</option> 
      <option value="22">Shimla</option> 
      <option value="23">Delhi</option>
      <option value="24">Bhubaneswar</option> 
      <option value="25">Vijayawada</option> 
      <option value="26">Lucknow</option> 
    </select> 
    <br> 
    <label for="Consumer_Profile">Consumer Profile</label> 
    <select id="Consumer_Profile" name="Consumer_Profile"> 
      <option value="0">Business</option> 
      <option value="1">Personal</option>  
    </select> 
    <br> 
    <label for="Product_category">Product Category</label> 
    <select id="Product_category" name="Product_category"> 
      <option value="0">Entertainment</option> 
      <option value="1">Household</option>  
    </select> 
    <br> 
    <label for="Product_type">Product Type</label> 
    <select id="Product_type" name="Product_type"> 
      <option value="0">TV</option> 
      <option value="1">AC</option> 
    </select> 
    <br> 
    <label for="Claim_Value">Claim Value</label> 
    <input type="text" id="Claim_Value" name="Claim_Value">  
    <br> 
    <label for="Service_Centre">Service Centre</label> 
    <select id="Service_Centre" name="Service_Centre"> 
      <option value="0">10</option> 
      <option value="1">11</option> 
      <option value="2">12</option> 
      <option value="3">13</option> 
      <option value="4">14</option> 
      <option value="5">15</option> 
      <option value="6">16</option> 
    </select> 
    <br> 
    <label for="Product_Age">Product Age</label> 
    <input type="text" id="Product_Age" name="Product_Age"> 
    <br> 
    <label for="Purchased_from">Purchased From</label> 
    <select id="Purchased_from" name="Purchased_from"> 
      <option value="0">Manufacturer</option> 
      <option value="1">Dealer</option>
      <option value="1">Internet</option> 
    </select> 
    <br> 
    <label for="Call_details">Call Details</label> 
    <input type="text" id="Call_details" name="Call_details">
    <br>  
    <label for="Purpose">Purpose</label> 
    <select id="Purpose" name="Purpose"> 
      <option value="0">Complaint</option> 
      <option value="1">Claim</option> 
      <option value="2">claim</option> 
      <option value="3">Other</option>  
    </select> 
    <br> 
    <input type="submit" value="Submit"> 
  </form> 
</div> 
</body> 
</html> 

